*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* COLORS */
h1,
h2,
h3 {
  color: rgb(64, 177, 64);
}

.cta {
  display: inline-block;
  margin: 20px 0;
  padding: 8px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #ffffff;
  background-color: rgb(64, 177, 64);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.72px;
  transition: background-color 0.4s ease-in-out;
}
.cta:hover {
  background-color: #328c32;
}

button {
  border: none;
  padding: 5px;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.65rem;
  font-weight: bold;
  transition: transform 0.4s ease-in-out;
}
button:hover {
  transform: scale(1.1);
}

ol {
  display: block;
  width: 65%;
  margin: 20px auto;
  padding: 10px 0;
  border-top: 1px solid rgb(64, 177, 64);
  border-bottom: 1px solid rgb(64, 177, 64);
  list-style-position: inside;
  counter-reset: li;
  font-size: 0.9rem;
}
ol li {
  counter-increment: li;
}
ol li::before {
  content: counter(li);
  color: rgb(64, 177, 64);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

footer {
  margin-top: 5px;
  padding: 50px 0;
  text-align: center;
  font-size: 0.75rem;
  box-shadow: 1px 0 5px 5px #ddd;
}
footer .logo {
  width: 35px;
  margin: auto;
  border-bottom: 3px solid rgb(64, 177, 64);
}
footer .logo img {
  width: 35px;
  height: auto;
}
footer .footer-description {
  margin: 10px 0;
}
footer a {
  color: rgb(64, 177, 64);
  text-decoration: none;
}
footer hr {
  width: 35%;
  margin: 15px auto;
  border: thin solid #ddd;
}

nav {
  padding: 15px 0;
}
nav ul li {
  display: inline-block;
  margin: 3px;
  padding-bottom: 3px;
  border-bottom: 2px solid #333;
  font-weight: bold;
}
nav ul li:hover {
  border-bottom: 2px solid rgb(64, 177, 64);
}
nav ul li a {
  color: #333;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
nav ul li a:hover {
  color: rgb(64, 177, 64);
}

html {
  scroll-behavior: smooth !important;
}
html body header {
  text-align: center;
}
html body header .logo {
  width: 35px;
  margin: auto;
  border-bottom: 3px solid rgb(64, 177, 64);
}
html body header .logo img {
  width: 35px;
  height: auto;
}
html body .featured {
  min-height: 100vh;
  background-image: url("/assets/images/Matopeli_telmac_1800-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
html body .featured .layer {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}
html body .featured .layer h1 {
  margin-top: 200px;
  font-size: 2.2rem;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px #333;
}
html body .introduction {
  padding: 50px 0;
}
html body .introduction .container {
  margin: auto;
  width: 65%;
  display: flex;
}
@media screen and (max-width: 1024px) {
  html body .introduction .container {
    flex-direction: column;
  }
}
html body .introduction .container .presentation,
html body .introduction .container .illustration {
  width: 50%;
}
@media screen and (max-width: 1024px) {
  html body .introduction .container .presentation,
html body .introduction .container .illustration {
    width: 100%;
  }
}
html body .introduction .container .presentation {
  padding: 20px 10px;
}
html body .introduction .container .presentation h2 {
  margin-bottom: 15px;
}
html body .introduction .container .illustration img {
  width: 100%;
}
html body .rules {
  padding: 25px 0;
}
html body .rules .container {
  margin: auto;
  width: 65%;
}
html body .rules .container h2 {
  text-align: center;
  margin-bottom: 20px;
}
html body .rules .container .go-game {
  text-align: center;
}
html body .rules .container .go-game .cta {
  width: 65%;
}

body#snake {
  height: 100%;
  overflow-y: hidden;
}
body#snake header {
  padding: 3px 0;
  text-align: center;
}
body#snake header nav {
  padding: 2px 0;
}
body#snake section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body#snake section .buttons #start {
  background-color: rgb(64, 177, 64);
}
body#snake section p {
  margin-bottom: 3px;
  font-size: 0.8rem;
}
body#snake section p#score {
  font-weight: bold;
}
body#snake section #myCanvas {
  border: 1px solid black;
}
@media screen and (min-width: 1024px) {
  body#snake footer {
    margin-top: 75px;
  }
}
@media screen and (min-width: 1440px) {
  body#snake footer {
    margin-top: 245px;
  }
}

/*# sourceMappingURL=style.css.map */
