body {
  &#snake {
    height: 100%;
    overflow-y: hidden;

    header {
      padding: 3px 0;
      text-align: center;
      nav {
        padding: 2px 0;
      }
    }

    section {
      display: flex;
      flex-direction: column;
      align-items: center;

      .buttons{
        #start{
          background-color: $greenSnake;
        }
      }
      p {
        margin-bottom: 3px;
        font-size: 0.8rem;
        &#score {
          font-weight: bold;
        }
      }
      #myCanvas {
        border: 1px solid black;
      }
    }

    footer {
      @media screen and (min-width: 1024px) {
        margin-top: 75px;
      }
      @media screen and (min-width: 1440px) {
        margin-top: 245px;
      }
    }
  }
}
